In [1]:
import pandas as pd
import numpy as np

In [2]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

In [3]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
# Female = 1
# Male = 0
train_data["Gender"] = np.where(train_data['Sex']=='male',0,1)

In [14]:
test_data.head()

   Pclass   Age  SibSp  Parch     Fare  Gender
0       3  34.5      0      0   7.8292       0
1       3  47.0      1      0   7.0000       1
2       2  62.0      0      0   9.6875       0
3       3  27.0      0      0   8.6625       0
4       3  22.0      1      1  12.2875       1

In [6]:
cols = ["Name","Sex","Ticket","Cabin","Embarked","PassengerId"]
tr_data = train_data.drop(cols,axis = 1)

In [7]:
train_data = tr_data.dropna()

In [8]:
test_data["Gender"] = np.where(test_data['Sex']=="male",0,1)
te_data = test_data.drop(cols,axis = 1)
test_data = te_data.dropna()

In [9]:
test_data_x = test_data.to_numpy()
print(test_data_x)

[[  3.      34.5      0.       0.       7.8292   0.    ]
 [  3.      47.       1.       0.       7.       1.    ]
 [  2.      62.       0.       0.       9.6875   0.    ]
 ...
 [  3.      28.       0.       0.       7.775    1.    ]
 [  1.      39.       0.       0.     108.9      1.    ]
 [  3.      38.5      0.       0.       7.25     0.    ]]

In [ ]:
train_data.head()

In [10]:
cols1 = ["Survived"] 
train_x = train_data.drop(cols1,axis = 1)
cols2 = ["Pclass","Age","SibSp","Parch","Fare","Gender"]
train_y = train_data.drop(cols2,axis = 1)

In [11]:
train_x.head()

   Pclass   Age  SibSp  Parch     Fare  Gender
0       3  22.0      1      0   7.2500       0
1       1  38.0      1      0  71.2833       1
2       3  26.0      0      0   7.9250       1
3       1  35.0      1      0  53.1000       1
4       3  35.0      0      0   8.0500       0

In [15]:
normalized_train = (train_x-train_x.mean())/train_x.std()
normalized_test = (test_data-test_data.mean())/test_data.std()

In [16]:
print(normalized_train.head())
print(normalized_test.head())

     Pclass       Age     SibSp     Parch      Fare    Gender
0  0.910594 -0.530005  0.524203 -0.505541 -0.518614 -0.758520
1 -1.475329  0.571430  0.524203 -0.505541  0.691412  1.316511
2  0.910594 -0.254646 -0.551317 -0.505541 -0.505859  1.316511
3 -1.475329  0.364911  0.524203 -0.505541  0.347805  1.316511
4  0.910594  0.364911 -0.551317 -0.505541 -0.503497 -0.758520
     Pclass       Age     SibSp     Parch      Fare    Gender
0  1.013891  0.306194 -0.552436 -0.491376 -0.541461 -0.787825
1  1.013891  1.192431  0.590416 -0.491376 -0.555004  1.265483
2 -0.167792  2.255916 -0.552436 -0.491376 -0.511111 -0.787825
3  1.013891 -0.225549 -0.552436 -0.491376 -0.527852 -0.787825
4  1.013891 -0.580044  0.590416  0.740786 -0.468647  1.265483

In [37]:
train_data_x = normalized_train.to_numpy()
train_data_y = train_y.to_numpy()

In [38]:
train_data_x

array([[ 0.91059403, -0.5300051 ,  0.52420266, -0.50554075, -0.51861431,
        -0.75851961],
       [-1.47532941,  0.57143041,  0.52420266, -0.50554075,  0.69141206,
         1.31651104],
       [ 0.91059403, -0.25464622, -0.55131659, -0.50554075, -0.50585895,
         1.31651104],
       ...,
       [-1.47532941, -0.73652426, -0.55131659, -0.50554075, -0.08871143,
         1.31651104],
       [-1.47532941, -0.25464622, -0.55131659, -0.50554075, -0.08871143,
        -0.75851961],
       [ 0.91059403,  0.1583921 , -0.55131659, -0.50554075, -0.50916589,
        -0.75851961]])

In [39]:
print(train_data_x.shape)
print(train_data_y.shape)

(714, 6)
(714, 1)

In [40]:
train_data_x = train_data_x.T
train_data_y = train_data_y.T

In [41]:
n_x = 6
n_h = 5
n_y = 1

In [42]:
def initialize_parameters(n_x,n_h,n_y):
    
    #np.random.seed(1)
    
    W1 = np.random.randn(n_h,n_x)*0.01
    b1 = np.zeros((n_h,1))
    W2 = np.random.randn(n_y,n_h)*0.01
    b2 = np.zeros((n_y,1))
    
    parameters = {"W1":W1, "b1":b1, "W2":W2, "b2": b2}
    
    return parameters

In [43]:
params = initialize_parameters(n_x,n_h,n_y)
print(params)

{'W1': array([[-0.00351037, -0.00013656,  0.01215677,  0.01606299, -0.00396599,
        -0.00469307],
       [ 0.00458507,  0.0174978 , -0.00911634,  0.01509718, -0.0126742 ,
        -0.00529044],
       [-0.00631636, -0.00590922,  0.00861427,  0.01676781, -0.0074577 ,
        -0.00610363],
       [-0.0258152 , -0.00315098,  0.00860156, -0.00259519,  0.00655598,
        -0.00018164],
       [ 0.0104242 ,  0.01040773, -0.00248995,  0.00902699,  0.0077166 ,
         0.01437201]]), 'b1': array([[0.],
       [0.],
       [0.],
       [0.],
       [0.]]), 'W2': array([[ 0.00594924, -0.01610767,  0.00534438,  0.0031905 ,  0.00248672]]), 'b2': array([[0.]])}

In [44]:
def linear_forward(A,W,b):
    
    Z = np.dot(W,A) + b
    
    cache = (A,W,b)
    
    return Z,cache

In [45]:
def relu(Z):
    return np.maximum(Z,0),Z

def sigmoid(Z):
    return (1/(1+np.exp(-Z))),Z

In [46]:
def linear_activation_forward(A_prev,W,b,activation):
    
    if activation == "relu":
        Z, linear_cache = linear_forward(A_prev,W,b)
        A, activation_cache = relu(Z)
    elif activation == "sigmoid":
        Z, linear_cache = linear_forward(A_prev,W,b)
        A, activation_cache = sigmoid(Z)
        
    cache = (linear_cache,activation_cache)
        
    return A,cache

In [47]:
A1,cache1 = linear_activation_forward(train_data_x,params["W1"],params["b1"],"relu")
A2,cache2 = linear_activation_forward(A1,params["W2"],params["b2"],"sigmoid")
#print(A1.shape)
#print(A2.shape)
#print(A1)
#print(A2)

In [48]:
def L_model_forward(X,parameters):
    
    caches = []
    A = X
    L = len(parameters)//2
    
    for i in range(1,L):
        A_prev = A
        A, cache = linear_activation_forward(A_prev, parameters["W"+str(i)], parameters["b"+str(i)],"relu")
        caches.append(cache)
        
    AL, cache = linear_activation_forward(A, parameters["W"+str(L)],parameters["b"+str(L)],"sigmoid")
    caches.append(cache)
    
    assert(AL.shape == (1,X.shape[1]))
    
    return AL,caches

In [49]:
def compute_cost(AL,Y):
    
    m = Y.shape[1]
    
    cost = -(np.multiply(Y,np.log(AL))+np.multiply(1-Y,np.log(1-AL)))
    cost = np.sum(cost)/m
    
    cost = np.squeeze(cost)
    
    assert(cost.shape == ())
    
    return cost

In [50]:
cost = compute_cost(A2,train_data_y)
print(cost)

0.6931078374398918

In [51]:
dA2 = -np.divide(train_data_y,A2) + np.divide(1-train_data_y,1-A2)
print(dA2.shape)

(1, 714)

In [52]:
def linear_backward(dZ,cache):
    
    (A_prev,W,b) = cache
    
    m = A_prev.shape[1]
    
    dW = np.dot(dZ, A_prev.T)/m
    db = np.sum(dZ, axis = 1 , keepdims =True)/m
    dA_prev = np.dot(W.T,dZ)
    
    assert(W.shape == dW.shape)
    assert(b.shape == db.shape)
    assert(A_prev.shape == dA_prev.shape)

    return dA_prev,dW,db

In [53]:
dA_prev, dW2, db2 = linear_backward(dA2,cache2[0])
print(dA_prev.shape)
print(dW2.shape)
print(db2.shape)

(5, 714)
(1, 5)
(1, 1)

In [54]:
def relu_backward(dA,activation_cache):
    
    return np.maximum(dA,0)

def sigmoid_backward(dA,activation_cache):
    
    return dA*(activation_cache)*(1-activation_cache)

In [55]:
def linear_activation_backward(dA,cache,activation):
    
    linear_cache,activation_cache = cache
    
    if activation == "relu":
        dZ = relu_backward(dA,activation_cache)
        dA_prev, dW, db = linear_backward(dZ,linear_cache)
    elif activation == "sigmoid":
        dZ = sigmoid_backward(dA,activation_cache)
        dA_prev, dW, db = linear_backward(dZ,linear_cache)
        
    return dA_prev,dW,db

In [56]:
def L_model_backward(AL,Y,caches):
    
    grads = {}
    L = len(caches)
    m = AL.shape[1]
    Y = Y.reshape(AL.shape)
    
    dAL = -np.divide(Y,AL) + np.divide(1-Y,1-AL)
    
    current_cache = caches[L-1]
    grads ["dA"+str(L-1)], grads["dW"+str(L)], grads["db"+str(L)] = linear_activation_backward(dAL,current_cache,"sigmoid")
    
    for l in reversed(range(L-1)):
        current_cache = caches[l]
        dA_prev_temp,dW_temp,db_temp = linear_activation_backward(grads["dA"+str(L-1-l)],current_cache,"relu")
        grads["dA" + str(l)] = dA_prev_temp
        grads["dW" + str(l-1)] = dW_temp
        grads["db" + str(l-1)] = db_temp
    
    return grads

In [57]:
def update_parameters(parameters,grads,learning_rate):
    L = len(parameters)//2
    
    for i in range(L):
        parameters["W"+str(i+1)] = parameters["W"+str(i+1)] - learning_rate * grads["dW"+str(i+1)]
        parameters["b"+str(i+1)] = parameters["b"+str(i+1)] - learning_rate * grads["db"+str(i+1)]
    return parameters

In [58]:
def two_layer_model(X,Y,layer_dims,learning_rate = 0.001,num_iterations=1000):
    #np.random.seed(1)
    (n_x,n_h,n_y) = layer_dims
    grads = {}
    costs = []
    m = X.shape[1]
    
    parameters = initialize_parameters(n_x,n_h,n_y)
    
    W1 = parameters["W1"]
    b1 = parameters["b1"]
    W2 = parameters["W2"]
    b2 = parameters["b2"]
    
    for i in range(num_iterations):
        A1, cache1 = linear_activation_forward(X,W1,b1,"relu")
        A2, cache2 = linear_activation_forward(A1,W2,b2,"sigmoid")
        
        cost = compute_cost(A2,Y)
        
        dA2 = -np.divide(Y,A2) + np.divide(1-Y,1-A2)
        
        dA1, dW2, db2 = linear_activation_backward(dA2,cache2,"sigmoid")
        dA0, dW1, db1 = linear_activation_backward(dA1,cache1,"relu")
        
        grads["dW1"] = dW1
        grads["dW2"] = dW2
        grads["db1"] = db1
        grads["db2"] = db2
        
        parameters = update_parameters(parameters,grads,learning_rate)
        
        W1 = parameters["W1"] 
        W2 = parameters["W2"]
        b1 = parameters["b1"]
        b2 = parameters["b2"]
        
        if i%100 == 0:
            costs.append(cost)
            print(cost)
        
    
    return parameters

In [174]:
layer_dims = (n_x,8,n_y)
print(layer_dims)

(6, 8, 1)

In [175]:
params = two_layer_model(train_data_x,train_data_y,layer_dims,0.008,3000)

0.6930918832117245
0.693106300490445
0.6931169438369258
0.6931248002395163
0.6931305997943967
0.6931348810065489
0.6931380413101479
0.6931403740673366
0.6931420958961279
0.6931433667322658
0.6931443046536031
0.6931449968286126
0.6931455076079114
0.6931458844920317
0.6931461625410575
0.693146367613528
0.6931465188558095
0.6931466303575696
0.6931467125263778
0.6931467731429627
0.6931468177659477
0.6931468505618913
0.69314687465652
0.6931468923123332
0.6931469052097229
0.6931469145971625
0.6931469213941028
0.6931469262787062
0.6931469297515209
0.6931469321819981

In [176]:
def predict(parameters, X):
    
    #print(parameters.keys())
    A,caches = L_model_forward(X,parameters)
    
    print(A)
    predictions = (A>0.5)*1
    
    return predictions

In [177]:
pred = predict(params,train_data_x)

[[0.50011832 0.50013214 0.50007469 0.50013502 0.50003573 0.50006142
  0.50009477 0.50004045 0.50013128 0.50007466 0.50011936 0.500077
  0.49996215 0.50008597 0.50005597 0.50007315 0.50007601 0.5000818
  0.50007631 0.50008546 0.5001171  0.50004677 0.49992497 0.50004181
  0.50008901 0.50001562 0.500137   0.50014158 0.50007424 0.50008108
  0.5000881  0.50006785 0.50011996 0.50010423 0.50008322 0.50008598
  0.50007169 0.50007403 0.50013087 0.50011915 0.50005497 0.50013784
  0.50005289 0.50010001 0.50003607 0.50007077 0.50013044 0.50013381
  0.50006308 0.50012498 0.50007984 0.49999332 0.5001468  0.50007891
  0.499989   0.50013206 0.50011531 0.50008105 0.50006289 0.50011334
  0.50006809 0.50007232 0.5000535  0.50012204 0.500142   0.50005633
  0.50002271 0.50005599 0.50006599 0.50005223 0.50007682 0.50013943
  0.50005364 0.4999678  0.50001658 0.50014786 0.50010432 0.50014232
  0.50006928 0.50014601 0.50004176 0.50013738 0.50005485 0.50008206
  0.50002734 0.50008052 0.50008819 0.50007149 0.50008328 0.50008577
  0.50007414 0.4999444  0.50015141 0.50009269 0.50000967 0.5001195
  0.50014739 0.50011929 0.50008643 0.50014473 0.5000652  0.50000702
  0.50004109 0.50007612 0.50006319 0.50011915 0.50009452 0.50009975
  0.50015629 0.50014187 0.50008902 0.50013993 0.50008153 0.50008108
  0.50007861 0.50010782 0.50012584 0.50005751 0.50002978 0.50005258
  0.50006013 0.50004164 0.50013351 0.49997827 0.49995739 0.50008601
  0.50008484 0.50004948 0.4999828  0.50010081 0.50006025 0.50008579
  0.50007208 0.50005073 0.49995002 0.5000894  0.50003899 0.50007302
  0.50007945 0.50007414 0.50004941 0.5000956  0.50013771 0.5000844
  0.50002593 0.50004724 0.50011467 0.50005658 0.50007819 0.50005545
  0.50003284 0.50012009 0.50010666 0.50008362 0.50012426 0.50013811
  0.50011743 0.49998252 0.50013295 0.50005625 0.50003712 0.5000058
  0.5000825  0.50007663 0.50010475 0.5000696  0.50008484 0.50009041
  0.50006512 0.50011506 0.50007079 0.5000844  0.50012607 0.500072
  0.50012427 0.50013124 0.50008296 0.500088   0.50009047 0.49999095
  0.50013302 0.50007263 0.50010522 0.50007492 0.50010868 0.50013042
  0.50005199 0.50002617 0.50000731 0.5000951  0.50011926 0.50012412
  0.50010522 0.50007792 0.50008498 0.50007068 0.50004876 0.50011919
  0.50007725 0.50010426 0.50013576 0.50009621 0.50005317 0.50003427
  0.50010894 0.50001586 0.50004039 0.50012978 0.50004139 0.50007617
  0.500052   0.50012522 0.50007642 0.50007082 0.50007111 0.500111
  0.50012261 0.50012181 0.50005619 0.50009413 0.50010358 0.5001301
  0.50001486 0.50007282 0.50005027 0.49995528 0.50005481 0.50008927
  0.50007975 0.50004176 0.50005075 0.50007136 0.50006013 0.50008153
  0.5001332  0.50012992 0.50007219 0.50008067 0.50006586 0.50006665
  0.50011745 0.50010543 0.5000727  0.50010366 0.5001273  0.50015074
  0.50013678 0.50013357 0.50007191 0.50011007 0.50005485 0.5001041
  0.50007463 0.500123   0.50003643 0.50012616 0.50012727 0.50007079
  0.5000576  0.50012332 0.50011359 0.50012171 0.49996178 0.50011367
  0.5000535  0.50015263 0.50007799 0.50011839 0.50014853 0.50014009
  0.50012142 0.50000784 0.50008201 0.50012416 0.50005589 0.50008845
  0.50009452 0.50007227 0.50013295 0.50009897 0.50011566 0.50001676
  0.50006977 0.50010337 0.50012043 0.50005625 0.50014832 0.50010646
  0.49997846 0.50015452 0.50001527 0.50003485 0.50004878 0.50013064
  0.50013805 0.50014263 0.50012901 0.50007975 0.50013313 0.50005073
  0.50008142 0.50009434 0.50007346 0.50007951 0.50010354 0.50005664
  0.50004387 0.50013519 0.50013825 0.50004061 0.50011367 0.50014233
  0.50010727 0.50007402 0.5001451  0.50012639 0.50004365 0.50007127
  0.50006117 0.50005955 0.50009712 0.50012653 0.50002461 0.50006049
  0.50008251 0.50011266 0.50008284 0.50014033 0.49999072 0.50012559
  0.500074   0.50012951 0.50001056 0.50010487 0.50011347 0.5000844
  0.50005369 0.50007397 0.50005208 0.50005471 0.50010551 0.50011992
  0.50014064 0.50004398 0.50011328 0.50010915 0.50008444 0.50013207
  0.50012432 0.50002027 0.50003943 0.50004291 0.50008094 0.5000955
  0.50007826 0.500111   0.50012652 0.50013651 0.5001345  0.5001009
  0.50006134 0.50006106 0.50011104 0.50010967 0.50013147 0.5000521
  0.50002742 0.50006589 0.500072   0.50003848 0.50007809 0.50004799
  0.5000266  0.50004796 0.50006471 0.50002801 0.50007781 0.50013453
  0.50008199 0.50014033 0.5001024  0.50007103 0.50007731 0.50003765
  0.49999376 0.49996406 0.50013484 0.50012943 0.5000445  0.50004948
  0.50011195 0.50007354 0.50005171 0.5000218  0.50007424 0.50013043
  0.50011501 0.50006577 0.50008579 0.50008208 0.50004486 0.50013951
  0.50013069 0.50009161 0.50006684 0.50009358 0.50005197 0.50009666
  0.50013329 0.50006551 0.50007725 0.50011695 0.50011377 0.50004384
  0.50012872 0.50007136 0.50013786 0.50002029 0.50006589 0.50002461
  0.50011617 0.5001289  0.50009786 0.5000646  0.50012463 0.50007819
  0.50012676 0.50015086 0.50013453 0.50000412 0.50000253 0.50014693
  0.50012615 0.50002951 0.50012684 0.50007403 0.50012285 0.50013072
  0.50009799 0.50007077 0.50008154 0.50003427 0.50013653 0.50013562
  0.50007208 0.50002181 0.50008874 0.50014608 0.50007961 0.49997881
  0.50004381 0.50002037 0.50013491 0.5000967  0.500088   0.50008539
  0.50011688 0.50013443 0.50004387 0.50011143 0.50013089 0.50004336
  0.50010256 0.50014774 0.50005117 0.50011949 0.50007149 0.50003492
  0.50013051 0.5000016  0.5001354  0.5000715  0.49999016 0.50013482
  0.50010168 0.50001066 0.50009883 0.50009655 0.50004935 0.50011703
  0.50008917 0.5001179  0.49992416 0.50003573 0.50008884 0.50006629
  0.50007958 0.50011883 0.50009105 0.50011333 0.50014148 0.50009644
  0.50007407 0.50008129 0.50003858 0.5000294  0.50013789 0.50006035
  0.49999441 0.49999018 0.50010671 0.50001601 0.50012652 0.50004387
  0.50013167 0.49993671 0.50007682 0.50013805 0.50002156 0.50006471
  0.50013532 0.50007961 0.5000511  0.50008094 0.50013003 0.50007458
  0.50008352 0.500119   0.50005175 0.50009857 0.50009155 0.5001052
  0.50002125 0.50007365 0.50003249 0.50012447 0.50011768 0.50009452
  0.50001348 0.50010095 0.50014268 0.50000932 0.50008238 0.50008226
  0.50006461 0.5000842  0.4998927  0.50001185 0.50013727 0.50007802
  0.50003369 0.50006996 0.50011336 0.50007124 0.5000816  0.50008228
  0.50011585 0.50014173 0.50007671 0.50006252 0.50003883 0.50004018
  0.50001066 0.50011641 0.50001599 0.50010872 0.50009872 0.50006994
  0.50006297 0.5001091  0.50007371 0.50008295 0.50008427 0.50012007
  0.50014446 0.50013458 0.50005349 0.50003989 0.5000794  0.50010394
  0.50012819 0.50004099 0.50014134 0.50013225 0.50007631 0.50004394
  0.50014287 0.50007753 0.50011076 0.50015771 0.50007916 0.50010794
  0.50010644 0.50009857 0.50009857 0.5000605  0.49998013 0.50002059
  0.50013667 0.50007159 0.50012081 0.50004662 0.50009321 0.50010812
  0.50012331 0.50014367 0.50004647 0.50012656 0.50008704 0.5000425
  0.50006861 0.50006882 0.50012611 0.50005476 0.50010782 0.50003848
  0.50012966 0.5000184  0.50007628 0.50012199 0.50008776 0.5001306
  0.50006242 0.50004425 0.50006726 0.49999924 0.50004553 0.50002899
  0.50008224 0.50009196 0.50011305 0.50008629 0.50013517 0.50011269
  0.50006236 0.50006254 0.50008368 0.50007276 0.50007302 0.500091
  0.50012024 0.5000631  0.5000662  0.50013818 0.50006193 0.50004876
  0.50005498 0.50007631 0.50010626 0.50011094 0.50009971 0.5000568
  0.50004649 0.50007844 0.50008375 0.5000662  0.5001351  0.50006035
  0.50003711 0.50007284 0.5000065  0.50004811 0.50008102 0.50013064
  0.50001225 0.50005832 0.50013299 0.50005827 0.50008046 0.50006461
  0.50007202 0.5001119  0.50012945 0.5000878  0.50012535 0.50006857
  0.50008272 0.50013509 0.50007478 0.50008105 0.50007689 0.50011129
  0.50014518 0.50003569 0.50008579 0.50001591 0.50003559 0.5000915
  0.50005118 0.4999375  0.50006994 0.50015864 0.50010761 0.50006805
  0.50011975 0.50006347 0.50001277 0.50012954 0.50015667 0.50013822
  0.50009654 0.50009148 0.50011892 0.5001173  0.5001145  0.50006035
  0.50013823 0.50009347 0.50000294 0.50011963 0.50008526 0.50007857
  0.50007961 0.5001323  0.50011871 0.50004109 0.50008214 0.50008701
  0.50006236 0.49993629 0.50009047 0.50015517 0.50011888 0.50004372]]

In [178]:
params

{'W1': array([[ 6.68004832e-03, -2.36315645e-04, -3.86896891e-03,
         -4.18178174e-03, -3.04746963e-03, -1.03538636e-02],
        [-8.44634710e-03,  1.47952967e-03, -8.90767173e-04,
         -1.01395673e-02,  1.98987720e-02,  1.05338246e-02],
        [ 5.51112132e-03,  8.94887238e-03, -1.57905247e-02,
         -2.12686657e-03, -1.05744080e-02, -1.24744648e-02],
        [ 4.76878878e-03,  4.75507718e-04,  7.31893525e-03,
          6.49006141e-03,  2.84550591e-03, -5.47006072e-03],
        [ 5.96709774e-05, -4.50363725e-03, -1.04026898e-02,
         -2.85974288e-04, -3.37169001e-03, -2.48735241e-03],
        [ 9.94488333e-03,  2.81996775e-03, -7.62410412e-04,
          3.67950571e-03, -4.19221057e-03,  8.43021546e-03],
        [ 6.31517963e-03, -6.85095666e-03, -1.60674838e-02,
         -2.30576532e-04, -5.84400353e-03, -1.12219376e-02],
        [ 3.51287162e-03,  3.04940793e-03, -7.90328251e-03,
         -5.23241021e-03,  7.46314065e-03, -1.21670815e-02]]),
 'b1': array([[-7.05613942e-05],
        [-1.22421298e-05],
        [-1.01273939e-04],
        [-5.79607937e-05],
        [-7.25555910e-05],
        [-1.09748266e-04],
        [-6.51900139e-05],
        [-8.05084558e-06]]),
 'W2': array([[ 0.01049341, -0.00161195, -0.01388765, -0.00793402,  0.0108071 ,
         -0.01500314, -0.00894673, -0.00112318]]),
 'b2': array([[0.00060204]])}

In [179]:
test_data_x = normalized_test.to_numpy()

In [180]:
test_data_x.shape

(331, 6)

In [181]:
train_data_x.shape

(6, 714)

In [182]:
np.count_nonzero(pred)

685

In [183]:
pred.shape

(1, 714)

In [184]:
train_data_y.shape

(1, 714)

In [185]:
1-(714-np.count_nonzero((train_data_y==pred)*1))/714

0.43557422969187676